body {
    padding-top: 56px;
}
.hero {
    background-image: url(images/profilebg.jpg);
    background-size: cover;
    
    color: white;
    padding: 100px 0;
}
.section-padding {
    padding: 60px 0;
}

.card-img-top {
    height: 200px; 
    object-fit: cover;
    width: 100%;
}
#contact .card {
    background-color: #ffffff73; 
    border: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
}
#projects .card {
    border: 1px solid #a6afb8;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    
}
